<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>19.12.2020</title>
	<link rel="stylesheet" href="./dist/css/style.css">
</head>

<body>
	<section class="main">
		<div class="box">
			<h1>JANE DOE</h1>
			<h2>PHOTOGRAPHER</h2>
		</div>
		<nav>
			<ul>
				<li><a href="/Home">Home</a></li>
				<li><a href="/Portfolio">Portfolio</a></li>
				<li><a href="/Contact">Contact</a></li>
			</ul>
		</nav>
	</section>
	<section class="images">
		<div class="container">
			<img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
			<img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
			<img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
			<img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
			<img src="https://www.w3schools.com/w3images/ocean.jpg" alt="">
		</div>
	</section>
	<div class="container">
		<section class="form">
			<h1>Contact</h1>
			<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus.</p>
			<form>
				<div class="input-group">
					<label for="name">Name</label>
					<input type="text">
				</div>
				<div class="input-group">
					<label for="email">Email</label>
					<input type="text">
				</div>
				<div class="input-group">
					<label for="message">Message</label>
					<input type="text">
				</div>
			</form>
			<a href="/w3.css">Powered by <em>w3.css</em></a>
		</section>
	</div>
</body>

</html>
